.container {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 100%;
  max-width: 480px;
  padding-bottom: 35px;
  background-color: var(--color-background);
}

.header {
  color: var(--primary-text-light);
  background-color: var(--accent-color);
  font-size: 22px;
  padding: 16px;
  text-align: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 272px;
}
