.list {
  list-style-type: none; /* reset default markers */
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  font-weight: 500;
  line-height: 18px;
  display: flex;
  gap: 10px;
}
