.container {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 15px;
}

.bold {
  font-weight: 700;
}
